<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	 xmlns:mf="http://typo3.org/ns/MiniFranske/FsMediaGallery/ViewHelpers">

	<!--
	 Displays an album list
	 Theme: Bootstrap3
	-->

	<f:section name="AlbumsList">
		<mf:widget.paginate objects="{mediaAlbums}" as="paginatedAlbums" widgetId="album" configuration="{itemsPerPage:settings.list.pagination.itemsPerPage, insertAbove:settings.list.pagination.insertAbove, insertBelow:settings.list.pagination.insertBelow, maximumNumberOfLinks:settings.list.pagination.maximumNumberOfLinks, pagesBefore:settings.list.pagination.pagesBefore, pagesAfter:settings.list.pagination.pagesAfter}">
			<f:if condition="{paginatedAlbums}">
				<f:then>
					<div class="container-fluid">
						<div class="row">
							<f:for each="{paginatedAlbums}" as="mediaAlbum">
								<div class="thumb col-xs-6 col-sm-4 col-md-3 col-lg-2">
									<f:render partial="MediaAlbum/Thumb" section="Thumb" arguments="{mediaAlbum:mediaAlbum,width:settings.list.thumb.width,height:settings.list.thumb.height,resizeMode:settings.list.thumb.resizeMode}" />
								</div>
							</f:for>
						</div>
					</div>
				</f:then>
				<f:else>
					<div class="alert alert-info">
						<p><f:translate key="no_albums_found">No albums found.</f:translate></p>
					</div>
				</f:else>
			</f:if>
		</mf:widget.paginate>
	</f:section>

</div>